
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.layout{
    border: 0;
    gap: 4px;
    grid-template-rows: 2% 60% 5%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'header' 'main' 'footer';
    height: 100vh;
}
@media (min-width:200px){
    .layout {
        display: grid;
        grid-template-rows: 10% 80% 5%;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'header header header'
        'main main main'
        'main main main'
        'footer footer footer';
    }
    
}
.header{
    grid-area: header;
    width: 100%;
    background-color: rgb(93, 78, 109);    
    box-shadow: 0px 0px 4px 0.1px gray;
}
.header h1{
    font-size: 5vh;
    color: #e1e1e1;
    font-family: monospace;
    text-align: center;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
.header h1:focus,
.header h1:hover {
  color: #fff;
}

.header h1:focus:after,
.header h1:hover:after {
  width:100%;
  left: 0%;
}

/* Aqui va la div que contiene al ranking */
.ranking{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Contiene los items del ranking */
.list-container {
    height: 90%;
    width: 100%;
    border-radius: 1%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.item-container {
    flex: 1;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
.item-container p {
    font-size: 4vh;
    font-family: monospace;
}

.ranking-item {
    border: 0.1vh solid black;
    transition: all 0.2s ease;
}

.ranking-item:hover {
    border: 2px solid rgb(93, 78, 109);
    border-color: rgb(93, 78, 109);
    box-shadow: 0 0 0 5px rgba(93, 78, 109, 0.399);
    color: rgb(93, 78, 109);
}
.ranking-item:active{
    transform: scale(0.95) rotateZ(1.7deg);
}
@media (max-width: 800px) {
    .list-container {
      flex-direction: column;
      min-width: none;
    }
    .item-container {
      width: 100%; 
      height: 100%; 
    }
    .ranking-item {
      width: 30vh; 
      min-width: 0;
      height: 100%; 
    }
    .buttons {
        flex-direction: column;
    }
    .buttons button {
        width: 100%;
        margin:1%;
    }
  }
.main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.main-container {
    width: 80%;
    align-self: center;
    height: 90%;
    border-radius: 1%;
    box-shadow: 0px 0px 10px 0.1px gray
}
.footer {
    grid-area: footer;
    width: 100%;
    justify-content: center;
    align-content: center;
}
.buttons {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.buttons button {
    font-family: monospace;
    background-color: #f3f7fe;
    color: rgb(93, 78, 109);
    border: 1px solid rgb(93, 78, 109);
    border-radius: 1vh;
    margin: 3%;
    width: 25vh;
    height: 8vh;
    transition: .3s;
    font-size: 3vh;
}
.buttons button:hover {
    background-color: rgb(93, 78, 109);
    box-shadow: 0 0 0 5px rgba(93, 78, 109, 0.399);
    color: #fff;
  }
  .item-container img {
    width: 30vh;
    height: 40vh;
    justify-self: center;
    margin: 0;
  }