body{
    padding:0;
    margin:0;
}
.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header "
    "main "
    "footer ";
    min-height: 100vh;
}

.header {
    grid-area:"header";
    background-color: rgb(93, 78, 109);    
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: stretch;
    align-self: flex-start;
    width: 100%;
    height: 10vh;
}
.header div {
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.header h1 {
    font-size: 5vh;
    color: #e1e1e1;
    font-family: monospace;
    text-align: center;
    font-weight: 800;
    cursor: pointer;
    border: none;
    align-self: center;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}
.header .title {
    justify-self: right;
}
.header .navbarright {
    justify-content: center;
    align-items: center;

}
.header .homepage:hover {
    height: 5vh;
    box-shadow:0px 0px 1vh 0.01vh rgb(60, 51, 71);

}
.header a {
    font-size: 3vh;
    font-family: monospace;
    position: relative;
    color: rgb(228, 228, 228);
    text-decoration: none;
}
.header a:hover{
    color:white;
}
.header a:hover::before {
    width: 120%; 
}
.main {
    grid-area: "main";
    width: 100%;
    display: flex;
    position:static;
    justify-content: start;
    margin: 1vh;
    gap: 3vh;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1vh;
    box-sizing: border-box;
    overflow: visible;
}
.peluche-item {
    width: 28vh;
    height: 20vh;
    transition: all 0.2s ease;
    font-size: 2vh;
    font-family: monospace;
    color: rgb(93, 78, 109);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.peluche-item img {
    width: 12vh;
    height: 11vh;
    border-radius: 2vh;
    box-shadow: 0 0 0.5vh 0.1vh rgb(93, 78, 109);

}
.photo-item {
    margin-top: 0.6vh;
    width: 28vh;
    height: 30vh;
    border-radius: 3vh;
    transition: all 0.2s ease;
    font-size: 2vh;
}
.photo-item img {
    width: 100%;
    height: 100%;
}
.peluche-box {
    width: 30vh;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 0.6vh 0 rgb(93, 78, 109);
    border-radius: 3vh;
    transition: all 0.2s ease;
    font-size: 5vh;
}
.peluche-box:hover{
    box-shadow: 0 0 1vh 0.1vh rgb(93, 78, 109);
}
.popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.popup-container {
    background-color: white;
    width: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

@media (max-width: 600px) {
    .main {
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .header {
        justify-content: space-arround;
        align-items: start;
    }
    .header .navbarright{
        width: 50%;
        justify-content: center;
        justify-self: center;
    }
    .header .title {
        width: 50%;
        align-items: start;
    }
    .header .navbarleft {
        width:0% ;
        height: 0%;
    }
}