body{
    padding:0;
    margin:0;
}
.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header "
    "main "
    "footer ";
    min-height: 100vh;
}
.header {
    grid-area:"header";
    background-color: rgb(93, 78, 109);    
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: stretch;
    align-self: flex-start;
    width: 100%;
    height: 10vh;
}

.header .navbarleft {
    display: flex;
}
.header .title {
    justify-self: right;
}
.header .navbarright {
    justify-content: center;
    align-items: center;

}
.header div {
    width: 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header h1 {
    font-size: 5vh;
    color: #e1e1e1;
    font-family: monospace;
    text-align: center;
    font-weight: 800;
}
.header a {
    font-size: 3vh;
    font-family: monospace;
    position: relative;
    color: rgb(228, 228, 228);
    text-decoration: none;
    cursor: pointer;
}

.header a:hover{
    color:white;
    height:5.3vh;
    box-shadow:0px 0px 1vh 0.01vh rgb(60, 51, 71);
}
.header .homepage:hover {
    height: 5vh;
    box-shadow:0px 0px 1vh 0.01vh rgb(60, 51, 71);
}
.main {
    grid-area: "main";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1fr;
    height: 1fr;
    background-color: #b9b9b9;
}
.container {
    display: flex;
    box-shadow: 0 0 0.5vh 0 rgb(93, 78, 109);
    width: 90%;
    height: 95%;
    flex-direction: row;
    background-color: white;
    border-radius: 2vh;
}
.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1vh solid rgb(93, 78, 109);
    width: 50%;
    height: 100%;
}
.options {
    display: flex;
    flex-direction: column;
    border: 0.1vh solid rgb(93, 78, 109);
    width: 50%;
    height: 100%;
}
.photo-container div {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo-container img {
    width: 90%;
    height: 80%;
    box-shadow: 0 0 vh 0 rgb(93, 78, 109);
}
.option-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    font-size: 6vh;
    font-family: monospace;
}
.option-2 {
    display: flex;
    flex-direction: column;
    color: rgb(93, 78, 109);
    font-family: monospace;
    font-size: 3vh;
    justify-content: center;
    align-items: center;
    height: 25%;
}
.option-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:3vh;
    font-family: monospace;
    height: 25%;
  }
  .option-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
  }
.paleta .amarillo {
    background-color:yellow; border-color: black;
  }
  
  .paleta .verde {
    background-color: green; border-color: black;
  }
  
  .paleta .rosa {
    background-color: pink; border-color: black;
  }
  .paleta span {
    display: inline-block;
    margin: 1vh;
    background-color: #eee;
    width: 10vh;
    height: 10vh;
    border: 1px solid black;
    border-radius: 1vh;
    cursor: pointer;
    box-shadow: 0 1px 2px #ccc;
  }
  .paleta span:hover{
    box-shadow: 0 0 0.5vh 0 rgb(93, 78, 109);
  }
  .paleta {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .accesorios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .accesorios div {
    width: 100%;
    height: 30vh;
  }
  .accesorios img {
    width: 10vh;
    height: 10vh;
    border: 0.2vh solid black;
    border-radius: 1vh;
    margin: 1vh;
    cursor: pointer;
  }
  .accesorios img:hover{
    box-shadow: 0 0 0.5vh 0 rgb(93, 78, 109);
  }
   button {
    font-family: monospace;
    background-color: #f3f7fe;
    color: rgb(93, 78, 109);
    border: 1px solid rgb(93, 78, 109);
    border-radius: 1vh;
    margin: 3%;
    width: 25vh;
    height: 8vh;
    transition: .3s;
    font-size: 3vh;
}
 button:hover {
    background-color: rgb(93, 78, 109);
    box-shadow: 0 0 0 5px rgba(93, 78, 109, 0.399);
    color: #fff;
  }

p {
    margin: 0;
    color: rgb(93, 78, 109);
}
.true {
    border: 1vh solid rgb(93, 78, 109);
}
.popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999; 
}
.popup div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2vh;
    background-color: white;
    margin-top: 10%;
    margin-left:40% ;
    width: 50vh;
    height: 50vh;
}
.paleta span[data-seleccionado="true"] {
    border: 0.5vh solid rgb(93, 78, 109); 
}

.accesorios img[data-seleccionado="true"] {
    border: 0.5vh solid rgb(93, 78, 109); 
}
@media (max-width:600px) {
    .main {
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .main h1 {
        font-size: 3vh;
        text-align: center;
        padding-bottom: 0;
    }
    .header {
        justify-content: space-arround;
        align-items: start;
    }
    .container {
        flex-direction: column;
        height: auto;
    }
    .photo-container {
        width: 100%;
        height: 50%;
    }
    .options {
        width: 100%;
        height: 50%;
    }
    .option-1 p {
        font-size: 3vh;
        text-align: center;
    }
    .option-2 p {
        font-size: 3vh;
        text-align: center;
    }
    .popup {
        height: 100vh;
    }
    .popup div {
        margin-top: 50%;
        margin-left: 0%;
        width: 46.5vh;
    }
}